html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.math {
  display: flex;
  justify-content: center;
  flex-direction: column;
  @media (min-width: 1024px) {
    flex-direction: row;
  }
}
